<a href="https://colab.research.google.com/github/hufs-eugene/notebooks-for-python/blob/main/%EC%B1%95%ED%84%B03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###연산자

- 기본 연산

In [1]:
print(1 + 1)
print(3 - 2)
print(5 * 2)
print(6 / 3)

2
1
10
2.0

- 거듭제곱, 나누기(몫, 나머지)

In [7]:
print(2**3) #거듭제곱
print(5 % 3) #나머지
print(10 % 3 ) #나머지
print(5//3) #몫
print(10//3) #몫

8
2
1
1
3

- 비교연산

In [9]:
print(10 > 3) 
print(4 >= 7) 
print(10 < 3)
print(5 <= 5)
print(3 == 3)
print(4 == 2)
print(3 + 4 == 7)
print(1 != 3) # 같지 않다(==의 부정)
print(not 1 != 3)

True
False
False
True
True
False
True
True
False

In [14]:
print((3 > 0) and (3 < 5)) # 둘 다 만족하는 경우에 true 
print((3 > 0 & (3 < 5))) # and == &
print((3>0) & (3<2))

True
True
False

In [11]:
print((3>0) or (3>5)) #둘 중 하나가 true면 true 출력
print((3>0) | (3>5))

True
True

In [12]:
print(5 > 4 > 3)
print(5 > 4> 7)

True
False

### 간단한 수식

In [ ]:
print(2 + 3 * 4)
print((2+3) * 4) # 우선순위 연산

In [26]:
number = 2 + 3 * 4
print(number)
number = number +2 
print(number)
number += 2 # number는 이전 계산에 걸려서 계속 바뀐다. 가까운게 변수값
print(number)
number -= 2
print(number)
number *= 2
print(number)
number /= 2
print(number)
number %= 5 # 나머지
print(number)

14
16
18
16
32
16.0
1.0

### 숫자 처리 함수

In [34]:
print(abs(-5)) #절댓값)
print(pow(4, 2)) #4의 2승, 4^2, 4*4
print(max(5, 12)) #최댓값 반환, 12
print(min(5, 12)) #최솟값 반환, 5
print(round(3.14)) #반올림
print(round(4.99)) #5

5
16
12
5
3
5

In [41]:
from math import *
print(floor(4.99)) #내림
print(ceil(3.14)) #올림
print(sqrt(16)) #제곱근

4
4
4.0

### 랜덤 함수(난수)

In [52]:
from random import *

print(random()) #0.0 ~ 1.0미만의 임의의 값 생성
print(random() * 10) #0.0 ~ 10.0미만의 임의의 값 생성
print(int(random() * 10)) #0 ~ 10미만의 임의의 값 생성
print(int(random() * 10)) #0 ~ 10미만의 임의의 값 생성
print(int(random() * 10)) #0 ~ 10미만의 임의의 값 생성
print(int(random() * 10) + 1) #1 ~ 10이하의 임의의 값 생성
print(int(random() * 10) + 1) #1 ~ 10이하의 임의의 값 생성
print(int(random() * 10) + 1) #1 ~ 10이하의 임의의 값 생성

0.34471344347897037
7.719163926360041
8
5
2
2
6
5

- 로또 추첨번호 출력하기(1~45)

In [54]:
print(int(random() * 45) + 1) #1 ~ 45이하의 임의의 값 생성
print(int(random() * 45) + 1) #1 ~ 45이하의 임의의 값 생성
print(int(random() * 45) + 1) #1 ~ 45이하의 임의의 값 생성
print(int(random() * 45) + 1) #1 ~ 45이하의 임의의 값 생성
print(int(random() * 45) + 1) #1 ~ 45이하의 임의의 값 생성
print(int(random() * 45) + 1) #1 ~ 45이하의 임의의 값 생성

15
31
37
45
39
3

In [56]:
print(randrange(1 , 45)) #1 ~ 45 미만의 임의의 값 생성

36

In [57]:
print(randrange(1 , 46)) #1 ~ 46 미만의 임의의 값 생성
print(randrange(1 , 46)) #1 ~ 46 미만의 임의의 값 생성
print(randrange(1 , 46)) #1 ~ 46 미만의 임의의 값 생성
print(randrange(1 , 46)) #1 ~ 46 미만의 임의의 값 생성
print(randrange(1 , 46)) #1 ~ 46 미만의 임의의 값 생성
print(randrange(1 , 46)) #1 ~ 46 미만의 임의의 값 생성

16
20
10
11
28
7

In [58]:
print(randint(1,45)) #1~45 이하의 임의의 값 생성
print(randint(1,45)) #1~45 이하의 임의의 값 생성
print(randint(1,45)) #1~45 이하의 임의의 값 생성
print(randint(1,45)) #1~45 이하의 임의의 값 생성
print(randint(1,45)) #1~45 이하의 임의의 값 생성
print(randint(1,45)) #1~45 이하의 임의의 값 생성

21
25
3
13
3
8

### quiz

당신은 최근에 코딩 스터디 모임을 새로 만들었습니다.
월 4회 스터디를 하는데 3번은 온라인으로 하고 1번은 오프라인으로 하기로 했습니다.
아래 조건에 맞는 오프라인 모임 날짜를 정해주는 프로그램을 작성하시오.

- 조건1: 랜덤으로 날짜를 뽑아야 함.
- 조건2: 월별 날짜는 다름을 감안하여 최소  일수인 28 이내로 정함
- 조건3: 매월 1~3일은 스터디 준비를 해야 하므로 제외

(출력문 예제)
오프라인 스터디 모임 날짜는 매월 x일로 선정되었습니다.

In [ ]:
from random import *

In [64]:
print("오프라인 스터디 모임 날짜는 매월", randint(4,28), "일로 선정되었습니다")

오프라인 스터디 모임 날짜는 매월 5 일로 선정되었습니다

In [65]:
print("오프라인 스터디 모임 날짜는 매월", randrange(4,29), "일로 선정되었습니다")

오프라인 스터디 모임 날짜는 매월 11 일로 선정되었습니다

In [66]:
print("오프라인 스터디 모임 날짜는 매월", int(random() * 28 +1), "일로 선정되었습니다")

오프라인 스터디 모임 날짜는 매월 5 일로 선정되었습니다

정석풀이

In [68]:
from random import *
date = randint(4,28)
print("오프라인 스터디 모임 날짜는 매월" + str(date) + "일로 선정되었습니다.")

오프라인 스터디 모임 날짜는 매월5일로 선정되었습니다.