<a href="https://colab.research.google.com/github/hufs-eugene/hello-world/blob/main/%EC%B1%95%ED%84%B02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 자료형

 - 숫자 자료형

In [ ]:
print(5)
print(-10)
print(3.14)
print(1000)
print(5 + 3)
print(2 * 8)
print(3  * (3 + 1))

5
-10
3.14
1000
8
16
12

 - 문자열 자료형

In [ ]:
print('풍선')
print("나비")
print("ㅋㅋㅋㅋㅋㅋㅋ")
print("ㅋ"*9)

풍선
나비
ㅋㅋㅋㅋㅋㅋㅋ
ㅋㅋㅋㅋㅋㅋㅋㅋㅋ

 - boolean 자료형

In [ ]:
print(5 > 10)
print(5 < 10)
print(True)
print(False)
print(not True)
print(not False)
print(not (5>10))

False
True
True
False
False
True
True

### 변수

반려동물을 소개해주세요

In [ ]:
name = "똘이"
animal = "강아지"
age = 4
hobby = "산책"
is_adult = age >= 13

In [ ]:
print("우리집 강아지의 이름은 똘이예요")
print("똘이의 나이는 4살이고 산책을 좋아해요")
print("똘이는 어른일까요? True")

In [ ]:
print("우리집" + animal + "의 이름은" + name + "예요")
hobby = "공놀이"
print(name + "의 나이는" + str(age) + "살이고" + hobby + "을 좋아해요")
print(name + "는 어른일까요?" +str(is_adult))

우리집강아지의 이름은똘이예요
똘이의 나이는4살이고공놀이을 좋아해요
똘이는 어른일까요?False

**# 정수, 불리언 자료형은 str 자료형으로 변환해주어야 한다.**

In [ ]:
print(name,"의 나이는",age,"살이고", hobby,"을 좋아해요")

똘이 의 나이는 4 살이고 공놀이 을 좋아해요

**# 콤마로 이어줄 경우 정수, 불리언 자료형을 str로 변환해주지 않아도 된다.**

### 주석

In [ ]:
# 주석처리하는법은 해시태그
'''이래도
 주석이
됩니다'''

'이래도\n 주석이\n됩니다'

###QUIZ

변수를 이용하여 다음 문장을 출력하시오

 변수명
 : station

 변수값
 : "사당", "신도림", "인천공항" 순서대로 입력

 출력문장
 : xx행 열차가 들어오고 있습니다

In [ ]:
station = "사당"
print(station,"행 열차가 들어오고 있습니다.")

사당 행 열차가 들어오고 있습니다.

In [ ]:
station = "신도림"
print(station,"행 열차가 들어오고 있습니다.")

신도림 행 열차가 들어오고 있습니다.

In [ ]:
station = "인천공항"
print(station,"행 열차가 들어오고 있습니다.")

인천공항 행 열차가 들어오고 있습니다.